<div class="col-lg-4">
<div class="well bs-component">

      <fieldset>
        <legend>Log in</legend>
        <%= form_tag sessions_path, :class => 'form-horizontal' do %>
          <div class="form-group">
            <%= label_tag :email, nil, class: 'col-lg-3 control-label' %>
            <div class="col-lg-9">
              <%= text_field_tag :email, params[:email], class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :password, nil, class: 'col-lg-3 control-label'  %>
            <div class="col-lg-9">
              <%= password_field_tag :password, nil, class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Log in", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </fieldset>

  </div>
</div>

