<div class="col-lg-10">
<%= form_for(@article, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :text, :class => 'col-lg-2' %>
    <div class="col-lg-10">
      <%= f.bootsy_area :text, :class => 'form-control', :rows => 12 %>
    </div>
  </div>
  <div class="actions col-lg-offset-2">
    <%= f.submit 'Update Article', :class => 'btn btn-primary' %>
  </div>
<% end %>
</div>  
