<div class="col-lg-10">
<div class="row">
  <h1 class="col-lg-6 col-lg-offset-2">Add New Post</h1>
</div>


<%= form_for :article, url: articles_path, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.hidden_field :users_id, :value => @user.id %>
  <div class="form-group">
    <%= f.label :title, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.file_field :images %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Body", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.bootsy_area :text, :class => 'form-control', :rows => 1, :rows => 12 %>
    </div>
  </div>


  <div class="col-lg-10 col-lg-offset-2">
    <div class="form-group">
      <%= f.submit "Save Post", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>
