<h2>
    <%= @article.title %>
</h2>

<% if current_user %>
  <script>
    <%= render template: "ratings/update.js" %>
  </script>
  <p>Average rating</p>
  <div id="star"></div>
  <p>Your rating</p>
  <div id="user_star"></div>
<% end %>

<p>
   <%= @article.text.html_safe %>
</p>
<div class="row">
<div class="col-lg-4">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Author</h3>
  </div>
  <div class="panel-body">
    <% if @user.name.blank? %>
      <%= @user.email %>
    <% else %>
      <%= @user.name %>
    <% end %>
  </div>
  </div>
</div>
</div>


<div class="row">
  <h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= comment.commenter %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
<% end %>
 
<div class="col-lg-6">
  <h2>Add a comment:</h2>
  <%= form_for([@article, @article.comments.build], :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <%= f.label :commenter, :class => 'col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :commenter, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body, :class => 'col-lg-2' %>
    <div class="col-lg-10"> 
      <%= f.text_area :body, :class => 'form-control' %>
    </div>
  </div>
  <div class="actions col-lg-offset-2">
    <%= f.submit 'Add Comment', :class => 'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>

