  <div class="row">
  <div class="col-lg-6">
      <label class="col-lg-2"><strong>Email:</strong></label>
      <div class="col-lg-10">
        <%= @user.email %>
      </div> 

     <% if !@user.provider.blank? %>
       <label class="col-lg-2"><strong>Provider:</strong></label>
       <div class="col-lg-10">
        [<%= @user.provider %>]
       </div>
       <% end %>
    </div>
  </div>

  <div class="col-lg-6">
  <fieldset>
  <legend>Profile</legend>
  <%= form_for [@user, @profile] , :html => {:multipart => true, :class => 'form-horizontal'} do |p| %>

    <div class="form-group">
      <%= p.label :phone, :class => 'col-lg-3' %>
      <div class="col-lg-9">
        <%= p.text_field :phone, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= p.label :mobile_phone, :class => 'col-lg-3' %>
      <div class="col-lg-9">
        <%= p.text_field :mobile_phone, :class => 'form-control'  %>
      </div>
    </div>
    
    <div class="form-group">
      <%= p.label :address, :class => 'col-lg-3' %>
      <div class="col-lg-9">
        <%= p.text_field :address, :class => 'form-control'  %>
      </div>  
    </div>

    <div class="form-group">
      <%= p.label :city, :class => 'col-lg-3' %>
      <div class="col-lg-9">
      <%= p.text_field :city, :class => 'form-control'  %>
      </div>
    </div>
    <div class="form-group">
      <%= p.label :country, :class => 'col-lg-3' %>
      <div class="col-lg-9">
        <%= p.text_field :country, :class => 'form-control'  %>
      </div>
    </div>
    <div class="form-group">
      <%= p.label :blog, :class => 'col-lg-3' %>
      <div class="col-lg-9">
        <%= p.text_field :blog, :class => 'form-control'  %>
      </div>
    </div>
    
    <div class="bootstrap-filestyle form-group">
        <%= p.label :avatar, :class => 'col-lg-3' %>
      <div class="col-lg-9">
        <%= p.file_field :avatar, :class => 'filestyle'  %> 
      </div>
    </div>
    <div class="form-group">
      <%= p.label :extras, :class => 'col-lg-3' %>
      <div class="col-lg-9">
        <%= p.text_field :extras, :class => 'form-control'  %>
      </div>
    </div>
  <div class="actions">
    <%= p.submit :class => 'btn' %>
  </div>
  <% end %>    
  </fieldset>
  </div>  
  <% if !@profile.avatar.blank? %> 
  <div class="col-lg-6">
    <fieldset>
      <legend>Avatar</legend>
      <%= image_tag @profile.avatar, :class => 'img-rounded img-responsive col-lg-8' %>
    </fieldset>
  </div>
<% end %>
