<!-- Fixed navbar -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Nice Blog",  root_path, class: "navbar-brand" %>
  </div>

  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li>
          <a href="#" id="profile" data-toggle="dropdown" aria-expanded="true">
            Logged in as <%= current_user.name ? current_user.name : current_user.email %>.
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="profile">
            <li><%= link_to "Profile" , current_user %></li>
          </ul>
        </li>
        <li>
          <a type="button" id="articles" data-toggle="dropdown" aria-expanded="true">
            Articles <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="articles">
            <li role="presentation"><%= link_to "Add New Article", '/articles/new' %></li>
            <li role="presentation"><%= link_to "Show Articles", '/articles' %></li>
          </ul>
        </li>
        <li><%= link_to "Log out", log_out_path %></li>
      <% else %>
        <li>
          <%= 
          button_tag "Sign Up", 
            :class => 'btn sign_up btn-link',
            :type => 'button', 
            :data => {:toggle => 'modal',:target => '#sign_up'} 
          %></li>
        <li><%= link_to "log in", log_in_path, :class => 'btn-link' %></li>
        <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
        <li><%= link_to "Sign in with Github", "/auth/github" %></li>
      <% end %>
      </ul>
   </div>
  </div>
 </nav>

